<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5"></script>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #app {
            display: flex;
            height: 100vh;
        }

        .main {
            flex: 1;
            padding: 20px;
            overflow-y: auto;
        }

        .chart-container {
            width: 100%;
            height: 400px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div id="app">
    <el-container>
        <el-aside width="200px">
            <el-menu default-active="1" class="el-menu-vertical-demo" @select="handleMenuSelect">
                <el-menu-item index="1" @click="currentSection = 'home'">回到主页</el-menu-item>
                <el-menu-item index="2" @click="currentSection = 'users'">查看所有用户信息</el-menu-item>
                <el-menu-item index="3" @click="currentSection = 'health'">用户健康信息统计分析</el-menu-item>
                <el-menu-item index="4" @click="currentSection = 'propolis'">用户问卷信息统计分析</el-menu-item>
            </el-menu>
        </el-aside>

        <el-main class="main">
            <div v-if="currentView === 'home'">
                <h1>欢迎来到后台管理系统</h1>
            </div>

            <div v-else-if="currentView === 'users'">
                <h1>用户列表</h1>
            </div>

            <div v-else-if="currentView === 'health'">
                <!-- 1.1 高血压占比 -->
                <h3>1.1 用户患有高血压情况</h3>
                <p>{{ hypertensionRate.yes }}% 有，{{ hypertensionRate.no }}% 没有</p>
                <el-button-group>
                    <el-button @click="showChart('yes-no', 'pie', 'hypertension')">查看饼状图</el-button>
                    <el-button @click="showChart('yes-no', 'bar', 'hypertension')">查看柱状图</el-button>
                </el-button-group>
                <div id="hypertension-yes-no-chart" class="chart-container"
                ></div>

                <!-- 1.2 病程 -->
                <h3>1.2 在患有高血压的人中，病程统计</h3>
                <el-button-group>
                    <el-button @click="showChart('year', 'pie', 'hypertension')">查看饼状图</el-button>
                    <el-button @click="showChart('year', 'bar', 'hypertension')">查看柱状图</el-button>
                </el-button-group>
                <div id="hypertension-year-chart" class="chart-container"
                ></div>

                <!-- 1.3 服药情况 -->
                <h3>1.3 在患有高血压的人中，是否长期规律服用药物</h3>
                <el-button-group>
                    <el-button @click="showChart('drug', 'pie', 'hypertension')">查看饼状图</el-button>
                    <el-button @click="showChart('drug', 'bar', 'hypertension')">查看柱状图</el-button>
                </el-button-group>
                <div id="hypertension-drug-chart" class="chart-container"
                ></div>


                <!-- 1.1 糖尿病占比 -->
                <h3>2.1 用户患有糖尿病情况</h3>
                <p>{{ diabetesRate.yes }}% 有，{{ diabetesRate.no }}% 没有</p>
                <el-button-group>
                    <el-button @click="showChart('yes-no', 'pie', 'diabetes')">查看饼状图</el-button>
                    <el-button @click="showChart('yes-no', 'bar', 'diabetes')">查看柱状图</el-button>
                </el-button-group>
                <div id="diabetes-yes-no-chart" class="chart-container"
                ></div>

                <!-- 1.2 病程 -->
                <h3>2.2 在患有糖尿病的人中，病程统计</h3>
                <el-button-group>
                    <el-button @click="showChart('year', 'pie', 'diabetes')">查看饼状图</el-button>
                    <el-button @click="showChart('year', 'bar', 'diabetes')">查看柱状图</el-button>
                </el-button-group>
                <div id="diabetes-year-chart" class="chart-container"
                ></div>

                <!-- 1.3 服药情况 -->
                <h3>2.3 在患有糖尿病的人中，是否长期规律服用药物</h3>
                <el-button-group>
                    <el-button @click="showChart('drug', 'pie', 'diabetes')">查看饼状图</el-button>
                    <el-button @click="showChart('drug', 'bar', 'diabetes')">查看柱状图</el-button>
                </el-button-group>
                <div id="diabetes-drug-chart" class="chart-container"
                ></div>


                <!-- 1.1 高血脂占比 -->
                <h3>3.1 用户患有高血脂情况</h3>
                <p>{{ hyperlipidemiaRate.yes }}% 有，{{ hyperlipidemiaRate.no }}% 没有</p>
                <el-button-group>
                    <el-button @click="showChart('yes-no', 'pie', 'hyperlipidemia')">查看饼状图</el-button>
                    <el-button @click="showChart('yes-no', 'bar', 'hyperlipidemia')">查看柱状图</el-button>
                </el-button-group>
                <div id="hyperlipidemia-yes-no-chart" class="chart-container"
                ></div>

                <!-- 1.2 病程 -->
                <h3>3.2 在患有高血脂的人中，病程统计</h3>
                <el-button-group>
                    <el-button @click="showChart('year', 'pie', 'hyperlipidemia')">查看饼状图</el-button>
                    <el-button @click="showChart('year', 'bar', 'hyperlipidemia')">查看柱状图</el-button>
                </el-button-group>
                <div id="hyperlipidemia-year-chart" class="chart-container"
                ></div>

                <!-- 1.3 服药情况 -->
                <h3>3.3 在患有高血脂的人中，是否长期规律服用药物</h3>
                <el-button-group>
                    <el-button @click="showChart('drug', 'pie', 'hyperlipidemia')">查看饼状图</el-button>
                    <el-button @click="showChart('drug', 'bar', 'hyperlipidemia')">查看柱状图</el-button>
                </el-button-group>
                <div id="hyperlipidemia-drug-chart" class="chart-container"
                ></div>


                <!-- 1.3 服药情况 -->
                <h3>4.1 用户患有肿瘤情况</h3>
                <p>{{ tumorRate.yes }}% 有，{{ tumorRate.no }}% 没有</p>
                <el-button-group>
                    <el-button @click="showChart('yes-no', 'pie', 'tumor')">查看饼状图</el-button>
                    <el-button @click="showChart('yes-no', 'bar', 'tumor')">查看柱状图</el-button>
                </el-button-group>
                <div id="tumor-yes-no-chart" class="chart-container"
                ></div>
            </div>

            <div v-else-if="currentView === 'propolis'">
                <h2>1. 蜂胶使用情况</h2>
                <h3>1.1 用户蜂胶使用情况</h3>
                <el-table :data="propolisYesNoTable" style="width: 100%; margin-bottom: 20px">
                    <el-table-column prop="label" label="选项"></el-table-column>
                    <el-table-column prop="count" label="小计"></el-table-column>
                    <el-table-column prop="percent" label="比例"></el-table-column>
                </el-table>
                <el-button-group>
                    <el-button @click="showChart('yes-no', 'pie', 'propolis')">查看饼状图</el-button>
                    <el-button @click="showChart('yes-no', 'bar', 'propolis')">查看柱状图</el-button>
                </el-button-group>
                <div id="propolis-yes-no-chart" class="chart-container"
                ></div>

                <h3>1.2 用户服用蜂胶的年份统计</h3>
                <el-button-group>
                    <el-button @click="showChart('year', 'pie', 'propolis')">查看饼状图</el-button>
                    <el-button @click="showChart('year', 'bar', 'propolis')">查看柱状图</el-button>
                </el-button-group>
                <div id="propolis-year-chart" class="chart-container"
                ></div>

                <h3>1.3 用户服用蜂胶的频率统计</h3>
                <el-table :data="propolisFrequencyTable" style="width: 100%; margin-bottom: 20px">
                    <el-table-column prop="label" label="选项"></el-table-column>
                    <el-table-column prop="count" label="小计"></el-table-column>
                    <el-table-column prop="percent" label="比例"></el-table-column>
                </el-table>
                <el-button-group>
                    <el-button @click="showChart('frequency', 'pie', 'propolis')">查看饼状图</el-button>
                    <el-button @click="showChart('frequency', 'bar', 'propolis')">查看柱状图</el-button>
                </el-button-group>
                <div id="propolis-frequency-chart" class="chart-container"
                ></div>

                <h2 style="margin-top: 40px">2. 用户主观评估</h2>
                <div v-for="(label, index) in evalLabels" :key="index" style="margin-bottom: 40px">
                    <h3>{{ index + 1 }}. {{ label }}</h3>
                    <el-table :data="evalScoreTables[index]" style="width: 100%; margin-bottom: 20px">
                        <el-table-column prop="label" label="选项"></el-table-column>
                        <el-table-column prop="count" label="小计"></el-table-column>
                        <el-table-column prop="percent" label="比例"></el-table-column>
                    </el-table>
                </div>

            </div>

            <div v-else>
                <p>请选择左侧菜单</p>
            </div>
        </el-main>
    </el-container>
</div>

<script>
    const {createApp} = Vue
    const {ElButton, ElMenu, ElMenuItem, ElContainer, ElAside, ElMain, ElButtonGroup} = ElementPlus

    createApp({
        data() {
            return {
                currentView: '',
                visibleChart: '',

                hypertensionRate: {yes: 0, no: 0},
                diabetesRate: {yes: 0, no: 0},
                hyperlipidemiaRate: {yes: 0, no: 0},
                tumorRate: {yes: 0, no: 0},

                yearData: {year: [], people: []},
                drugData: {yes: 0, no: 0},

                propolisRate: {yes: 0, no: 0},
                propolisYesNoTable: [],
                propolisFrequencyTable: [],
                propolisFrequencyData: {
                    chart: {     // 用于存放图表所需的数据
                        labels: [],
                        values: []
                    },
                    total: 0     // 有效填写总人数
                },

                evalLabels: [
                    '感冒较以往次数减少',
                    '睡眠质量改善',
                    '胃肠道功能改善',
                    '身体疲乏感减轻',
                    '口腔溃疡次数减少',
                    '改善咽喉部不适感'
                ],
                evalScoreTables: [[], [], [], [], [], []]
            }
        },
        methods: {
            handleMenuSelect(index) {
                if (index === '1') {
                    this.currentView = 'home';

                } else if (index === '2') {
                    this.currentView = 'users';

                } else if (index === '3') {
                    this.currentView = 'health';
                    this.fetchHealthRate();

                } else if (index === '4') {
                    this.currentView = 'propolis';
                    this.fetchPropolisRate();
                    this.fetchAllEvalScores();

                } else {
                    console.log('121212121');
                }
            },
            fetchHealthRate() {
                axios.get('/user/health/admin/hypertension/yes-no').then(res => {
                    // console.log(res)
                    if (res.data.code === 1) {
                        const total = res.data.data.yes + res.data.data.no;
                        this.hypertensionRate.yes = ((res.data.data.yes / total) * 100).toFixed(1);
                        this.hypertensionRate.no = ((res.data.data.no / total) * 100).toFixed(1);
                    } else {
                        console.log('获取高血压数据失败');
                    }
                });
                axios.get('/user/health/admin/diabetes/yes-no').then(res => {
                    // console.log(res)
                    if (res.data.code === 1) {
                        const total = res.data.data.yes + res.data.data.no;
                        this.diabetesRate.yes = ((res.data.data.yes / total) * 100).toFixed(1);
                        this.diabetesRate.no = ((res.data.data.no / total) * 100).toFixed(1);
                    } else {
                        console.log('获取糖尿病数据失败');
                    }
                });
                axios.get('/user/health/admin/hyperlipidemia/yes-no').then(res => {
                    // console.log(res)
                    if (res.data.code === 1) {
                        const total = res.data.data.yes + res.data.data.no;
                        this.hyperlipidemiaRate.yes = ((res.data.data.yes / total) * 100).toFixed(1);
                        this.hyperlipidemiaRate.no = ((res.data.data.no / total) * 100).toFixed(1);
                    } else {
                        console.log('获取高血脂数据失败');
                    }
                });
                axios.get('/user/health/admin/tumor/yes-no').then(res => {
                    // console.log(res)
                    if (res.data.code === 1) {
                        const total = res.data.data.yes + res.data.data.no;
                        this.tumorRate.yes = ((res.data.data.yes / total) * 100).toFixed(1);
                        this.tumorRate.no = ((res.data.data.no / total) * 100).toFixed(1);
                    } else {
                        console.log('获取肿瘤数据失败');
                    }
                });
            },
            fetchPropolisRate() {
                axios.get('/user/propolis/admin/yes-no').then(res => {
                    if (res.data.code === 1) {
                        const {yes, no} = res.data.data;
                        const total = yes + no;
                        this.propolisRate.yes = ((res.data.data.yes / total) * 100).toFixed(1);
                        this.propolisRate.no = ((res.data.data.no / total) * 100).toFixed(1);
                        this.propolisYesNoTable = [
                            {label: '使用过', count: yes, percent: ((yes / total) * 100).toFixed(1) + '%'},
                            {label: '没有使用过', count: no, percent: ((no / total) * 100).toFixed(1) + '%'},
                            {label: '有效填写人数', count: total, percent: '-'}
                        ];
                    }
                });
                axios.get('/user/propolis/admin/frequency').then(res => {
                    if (res.data.code === 1) {
                        // 1. 定义一个编码到文本的映射字典
                        const frequencyMap = {
                            'A': '经常使用',
                            'B': '偶尔使用',
                            'C': '几乎不用',
                            'D': '从不使用'
                        };
                        const raw = res.data.data;
                        const originalLabels  = Object.keys(raw);
                        const values = Object.values(raw);

                        // 使用map方法，根据字典转换标签
                        const labels = originalLabels.map(label => frequencyMap[label] || label); // 如果找不到映射，就显示原始编码
                        // 1. 填充图表数据
                        this.propolisFrequencyData.chart.labels = labels;
                        this.propolisFrequencyData.chart.values = values;

                        // 构建 frequency 表格
                        const total = values.reduce((a, b) => a + b, 0);

                        // 2. 填充总人数
                        this.propolisFrequencyData.total = total;
                        this.propolisFrequencyTable = labels.map((label, index) => ({
                            label,
                            count: values[index],
                            percent: ((values[index] / total) * 100).toFixed(1) + '%'
                        }));
                        this.propolisFrequencyTable.push({label: '有效填写人数', count: total, percent: '---'});
                    }
                });
            },
            showChart(type, chartType, disease) {
                let chartId = disease + '-' + type + '-chart';
                let requestUrl = '';

                if (disease === 'propolis') {
                    requestUrl = '/user/propolis/admin/' + type;
                } else {
                    requestUrl = '/user/health/admin/' + disease + '/' + type;
                }

                this.visibleChart = disease + '-' + type;
                if (type === 'yes-no') {
                    if (disease === 'hypertension') {
                        const {yes, no} = this.hypertensionRate;
                        this.renderChart(chartId, chartType, ['有', '无'], [yes, no]);

                    } else if (disease === 'diabetes') {
                        const {yes, no} = this.diabetesRate;
                        this.renderChart(chartId, chartType, ['有', '无'], [yes, no]);

                    } else if (disease === 'hyperlipidemia') {
                        const {yes, no} = this.hyperlipidemiaRate;
                        this.renderChart(chartId, chartType, ['有', '无'], [yes, no]);

                    } else if (disease === 'tumor') {
                        const {yes, no} = this.tumorRate;
                        this.renderChart(chartId, chartType, ['有', '无'], [yes, no]);

                    } else if (disease === 'propolis') {
                        const {yes, no} = this.propolisRate;
                        this.renderChart(chartId, chartType, ['有', '无'], [yes, no]);

                    } else {
                        axios.get(requestUrl).then(res => {
                            if (res.data.code === 1) {
                                const {yes, no} = res.data.data;
                                this.renderChart(chartId, chartType, ['有', '无'], [yes, no]);
                            }
                        });
                    }
                } else if (type === 'year') {
                    axios.get(requestUrl).then(res => {
                        if (res.data.code === 1) {
                            const {year, people} = res.data.data;
                            this.renderChart(chartId, chartType, year.map(y => y + '年'), people);
                        }
                    });

                } else if (type === 'drug') {
                    axios.get(requestUrl).then(res => {
                        if (res.data.code === 1) {
                            const {yes, no} = res.data.data;
                            this.renderChart(chartId, chartType, ['是', '否'], [yes, no]);
                        }
                    });

                } else if (type === 'frequency') {
                    const labels = this.propolisFrequencyData.chart.labels
                    const values = this.propolisFrequencyData.chart.values
                    this.renderChart(chartId, chartType, labels, values);

                    // axios.get(requestUrl).then(res => {
                    //     if (res.data.code === 1) {
                    //         const raw = res.data.data;
                    //         const labels = Object.keys(raw);
                    //         const values = Object.values(raw);
                    //         // 构建 frequency 表格
                    //         const total = values.reduce((a, b) => a + b, 0);
                    //         this.propolisFrequencyTable = labels.map((label, index) => ({
                    //             label,
                    //             count: values[index],
                    //             percent: ((values[index] / total) * 100).toFixed(1) + '%'
                    //         }));
                    //         this.propolisFrequencyTable.push({label: '有效填写人数', count: total, percent: '-'});
                    //         this.renderChart(chartId, chartType, labels, values);
                    //     }
                    // });
                }
            },
            renderChart(containerId, chartType, labels, values) {
                const chart = echarts.init(document.getElementById(containerId));
                let option = {};
                if (chartType === 'pie') {
                    option = {
                        tooltip: {trigger: 'item'},
                        series: [{
                            type: 'pie',
                            radius: '50%',
                            data: labels.map((label, index) => ({name: label, value: values[index]})),
                        }]
                    };
                } else if (chartType === 'bar') {
                    option = {
                        xAxis: {type: 'category', data: labels},
                        yAxis: {type: 'value'},
                        series: [{
                            data: values,
                            type: 'bar'
                        }]
                    };
                }
                chart.setOption(option);
            },
            fetchEvalScore(eid) {
                axios.get('/user/eval/admin/' + eid).then(res => {
                    if (res.data.code === 1) {
                        const raw = res.data.data;
                        const total = Object.values(raw).reduce((a, b) => a + b, 0);
                        this.evalScoreTables[eid] = [
                            {
                                label: '无效',
                                count: raw[0] || 0,
                                percent: ((raw[0] || 0) / total * 100).toFixed(1) + '%'
                            },
                            {
                                label: '有效',
                                count: raw[1] || 0,
                                percent: ((raw[1] || 0) / total * 100).toFixed(1) + '%'
                            },
                            {
                                label: '不详',
                                count: raw[2] || 0,
                                percent: ((raw[2] || 0) / total * 100).toFixed(1) + '%'
                            },
                            {label: '有效填写人数', count: total, percent: '---'}
                        ];
                    }
                });
            },
            fetchAllEvalScores() {
                for (let i = 0; i < 6; i++) {
                    this.fetchEvalScore(i);
                }
            }
        }
    }).use(ElementPlus).mount('#app');
</script>
</body>

</html>
