<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzunlp.qzfeng.mapper.UserMapper">

    <insert id="save">
        insert into user_health
        (hypertension, hypertension_year, hypertension_drug, diabetes, diabetes_year,diabetes_drug, hyperlipidemia, hyperlipidemia_year, hyperlipidemia_drug, tumor)
        values (#{hypertension}, #{hypertensionYear}, #{hyperlipidemiaDrug}, #{diabetes},#{diabetesYear}, #{diabetesDrug}, #{hyperlipidemia}, #{hypertensionYear}, #{hyperlipidemiaDrug}, #{tumor})
    </insert>
</mapper>
